.main-nav {
  padding-left: 20px;
  min-height: 70px;
  background-color: #1890ff;
}

.nav-logo-text h4 {
  font-size: 24px;
  color: #ffffff;
}

@media (min-width: 576px) {
  .main-nav {
    padding-left: 40px;
  }
}
